<div>
  <% @categoryList.each do |category| %>
    <div class="">
      <%= category["strCategory"] %>
      <%= category["strCategoryDescription"] %>
      <%= image_tag category["strCategoryThumb"]%>
    </div>
  <% end %>
</div>