<div class="body">
  <div class="food_reference"><%= image_tag 'app-ref.png' %></div>
  <div class="section_one">
    <h1 class="section_header"> Get the App </h1>
    <div class="section_body"> Our app is available on the App Store and Play Store, you can download for free for a more comfortable experience</div>
  <div class="food-ref-store"><%= image_tag 'app-store.png' %></div>
  </div>
</div>