<% @random_meals.each do |random| %>
  <h1><%= random[1][0]["strInstructions"] %></h1>
  <h1><%= random[1][1]["strInstructions"] %></h1>
  <h1><%= random[1][2]["strInstructions"] %></h1>
  <h1><%= random[1][3]["strInstructions"] %></h1>
<% end %>