@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Mochiy+Pop+One&display=swap');

body {
  display: block;
}

:link, :visited, :hover, :active {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3rem;
}

.logo {
  font-family: 'Mochiy Pop One', sans-serif;
  font-size: 1.5rem;
  padding: 5px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  font-family: 'Bree Serif', serif;
  font-size: 1rem;
  color: black;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 3%;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #47B5FF;
  text-decoration: none;
  font-family: 'Bree Serif', serif;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
}

.section_one {
  display: flex;
  flex-direction: column;
  width: 40%;
  font-family: 'Bree Serif', serif;
}

.section_header {
  padding: 10px 10px 0px 10px;
  font-size: 5.5rem;
}

.section_body {
  padding-bottom: 10px;
  font-size: 1.5rem;
}

.section_one_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 2.5rem;
  width: 10rem;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #47B5FF;
  font-size: 1.1rem;
}

.food {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 30px;
}

.food_header {
  font-size: 3rem;
  font-family: 'Bree Serif', serif;
  font-weight: bold;
  margin: 10px
}

.food_header_desc {
  font-size: 1rem;
  font-family: 'Bree Serif', serif;
  font-style: italic;
  margin: 10px;
}

.popular_foods_list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; 
  margin: 10px;
}

.popular_foods {
  display: flex;
  flex-direction: column;
}

.popular_foods_image {
  width: 300px;
  height: 300px;
}

.popular_foods_title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bree Serif', serif;
  font-size: 1.5rem;
  margin: 5px;
  height: 5rem;
  width: 300px;
}

.main_footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  background-image: url('https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2067&q=80');
  border-radius: 20px;
  width: 50%;
}

.sub_header {
  font-family: 'Bree Serif', serif;
  font-size: 1.5rem;
  margin: 10px;
  font-weight: bold;
}

.email {
  font-family: 'Bree Serif', serif;
  width: 25rem;
  padding: 10px;
}

.sub_button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 2.5rem;
  width: 10rem;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  font-size: 1.1rem;
  margin: 10px;
  font-family: 'Bree Serif', serif;
  border-radius: 10px;
}

.list_category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category_card {
  display: flex;
  height: auto;
  width: 30%;
  margin: 10px;
  border: 2px dotted black;
}

.category_card_details {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 10px;
}

.category_card_title {
  font-size: 2.5rem;
  font-family: 'Bree Serif', serif;
  padding: 5px;
  font-weight: bold;
}

.category_card_desc {
  font-size: 0.8rem;
  font-family: 'Bree Serif', serif;
  padding: 5px;
}

.category_card_image {
  width: 180px;
  height: 180px;
  margin: 20px;
}

.food_category_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.food_category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dotted black;
  margin: 10px;
  width: 250px;
  height: 280px;
}

.food_category_name {
  text-align: center;
  font-size: 1rem;
  font-family: 'Bree Serif', serif;
}

.individual_meal {
  margin: 20px;
}

.meal_details {
  display: flex;
  flex-direction: row;
}

.meal_details_text {
  display: flex;
  flex-direction: column;
  width: 70%;
  font-size: 1rem;
  font-family: 'Bree Serif', serif;
}

.meal_details_name {
  font-size: 5rem;
  padding: 10px;
}

.meal_details_category {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
  border: 2px solid black;
  width: 5rem;
  border-radius: 20px;
}

.meal_more_details {
  padding: 10px;
}

.meal_details_image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.meal_details_image_spec {
  width: 400px;
}

.meal_other_details {
  display: flex;
  flex-direction: row;
}

.ing_table {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 70%;
  border: 2px dotted black;
  height: 300px;
  word-wrap: normal;
}

.ing_names {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ing_title {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-family: 'Bree Serif', serif;
}

.ing_name {
  font-size: 1.3rem;
  font-family: 'Bree Serif', serif;
}

.ing_vid {
  padding: 10px;
}

.food-ref-store {
  display: flex;
  justify-content: center;
}